*{
    box-sizing: border-box;
}
body{
    background: rgb(37, 37, 37);
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 30px;
    height: 100vh;
}
.button-container{
    display: flex;
    border-radius: 8px;
    border: 2px solid black;
    padding: 10px;
    margin: 5px;
    box-shadow: inset 0 20px 4px -19px rgba(255, 255, 255, 0.7);
}
button{
    cursor: pointer;
    font-size: 25px;
    width: 240px;
    height: 75px;
    outline: none;
}
